In [2]:
import pandas as pd
import plotly.graph_objs as go
import plotly.offline as offline

offline.init_notebook_mode(connected=True)

In [4]:
stock_data = pd.read_csv("data/stock_market.csv")
stock_data.sample(10)

,Date,Open,High,Low,Close,Volume,UnadjustedVolume,Change,ChangePercent,Vwap,Label,ChangeOverTime
712,2015-11-17,114.9200,115.0500,113.3200,113.6900,27616939,27616939,-0.485000,-0.425,114.1132,"Nov 17, 15",0.576621
583,2015-05-15,129.0700,129.4900,128.2100,128.7700,38208034,38208034,-0.180000,-0.140,128.6743,"May 15, 15",0.785746
647,2015-08-17,116.0400,117.6500,115.5000,117.1600,40884745,40884745,1.200000,1.035,116.9442,"Aug 17, 15",0.624742
55,2013-04-11,61.9599,62.5699,61.5999,62.0471,82073628,11724804,-0.194286,-0.312,62.0549,"Apr 11, 13",-0.139548
693,2015-10-21,114.0000,115.5800,113.7000,113.7600,42326974,42326974,-0.010000,-0.009,114.5073,"Oct 21, 15",0.577592
1132,2017-07-20,151.5000,151.7400,150.1900,150.3400,17243748,17243748,-0.680000,-0.450,150.7473,"Jul 20, 17",1.084873
824,2016-04-29,93.9900,94.7200,92.5100,93.7400,68531478,68531478,-1.090000,-1.149,93.4372,"Apr 29, 16",0.299960
648,2015-08-18,116.4300,117.4400,116.0100,116.5000,34560708,34560708,-0.660000,-0.563,116.7296,"Aug 18, 15",0.615590
556,2015-04-08,125.8500,126.4000,124.9700,125.6000,37329243,37329243,-0.410000,-0.325,125.6111,"Apr 8, 15",0.741786
800,2016-03-28,106.0000,106.1900,105.0600,105.1900,19411372,19411372,-0.480000,-0.454,105.4556,"Mar 28, 16",0.458746

In [5]:
stock_data.shape

(1259, 12)