In [3]:
import matplotlib
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
crude_oil_data = pd.read_csv("./datasets/U.S._crude_oil_production.csv")

crude_oil_data.head()

,Month,U.S. Crude Oil,Alabama,Alaska,Arkansas,Arizona,California,Colorado,Federal Offshore Gulf of Mexico Crude Oil,Federal Offshore Pacific Crude Oil,...,Ohio,Oklahoma,Pennsylvania,South Dakota,Wyoming,West Virginia,Virginia,Utah,Texas,Tennessee
0,2008-06-01,5138,21,655,17,0,583,82,1326,67,...,14,186,8,5,144,6,0,60,1097,1
1,2008-07-01,5177,21,640,17,0,586,81,1372,61,...,14,184,8,5,145,5,0,61,1111,1
2,2008-08-01,5003,21,544,17,0,588,82,1272,70,...,14,188,8,5,145,6,0,62,1110,1
3,2008-09-01,3974,21,681,16,0,587,88,242,67,...,14,186,8,5,144,6,0,63,1055,1
4,2008-10-01,4738,21,716,17,0,586,86,803,66,...,14,185,8,5,145,6,0,64,1125,1

In [5]:
crude_oil_data.tail()

,Month,U.S. Crude Oil,Alabama,Alaska,Arkansas,Arizona,California,Colorado,Federal Offshore Gulf of Mexico Crude Oil,Federal Offshore Pacific Crude Oil,...,Ohio,Oklahoma,Pennsylvania,South Dakota,Wyoming,West Virginia,Virginia,Utah,Texas,Tennessee
116,2018-02-01,10248,17,513,14,0,463,428,1704,14,...,54,527,18,4,223,27,0,100,4015,1
117,2018-03-01,10461,17,512,14,0,462,428,1681,16,...,54,543,18,4,231,29,0,104,4185,1
118,2018-04-01,10475,17,497,14,0,465,447,1583,16,...,54,531,19,4,232,29,0,103,4222,1
119,2018-05-01,10443,16,496,14,0,464,447,1504,15,...,58,529,19,3,228,29,0,97,4245,1
120,2018-06-01,10674,16,451,14,0,462,423,1658,15,...,65,526,18,4,226,30,0,94,4410,1

In [6]:
crude_oil_data.shape

(121, 36)

In [7]:
crude_oil_data.columns

Index(['Month', 'U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'Arizona',
       'California', 'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Virginia', 'Utah', 'Texas', 'Tennessee'],
      dtype='object')

In [8]:
crude_oil_data.columns[(crude_oil_data.sum(axis=0)) == 0]

Index(['Arizona', 'Virginia'], dtype='object')

In [9]:
crude_oil_data.drop(["Arizona", "Virginia"], inplace=True, axis=1)
crude_oil_data.columns

Index(['Month', 'U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas',
       'California', 'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee'],
      dtype='object')

In [10]:
crude_oil_data["Date"] = pd.to_datetime(crude_oil_data["Month"])
crude_oil_data["Date"].head()

0   2008-06-01
1   2008-07-01
2   2008-08-01
3   2008-09-01
4   2008-10-01
Name: Date, dtype: datetime64[ns]

In [11]:
crude_oil_data.drop("Month", inplace=True, axis=1)
crude_oil_data.columns

Index(['U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'California',
       'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee', 'Date'],
      dtype='object')

In [12]:
crude_oil_data = crude_oil_data.rename(
    columns={
        "Federal Offshore Gulf of Mexico Crude Oil": "Mexico",
        "Federal Offshore Pacific Crude Oil": "Pacific",
    }
)
crude_oil_data.columns

Index(['U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'California',
       'Colorado', 'Mexico', 'Pacific', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee', 'Date'],
      dtype='object')

In [13]:
crude_oil_data["Year"] = crude_oil_data["Date"].dt.year
crude_oil_data["Year"].sample(10)

97     2016
111    2017
112    2017
39     2011
66     2013
83     2015
1      2008
94     2016
24     2010
43     2012
Name: Year, dtype: int64

In [14]:
crude_oil_data["Month"] = crude_oil_data["Date"].dt.month
crude_oil_data["Month"].sample(10)

60      6
74      8
93      3
28     10
102    12
9       3
38      8
95      5
67      1
84      6
Name: Month, dtype: int64

In [15]:
# crude_oil_data.to_csv("./datasets/crude_oil_data_processed.csv", index=False)

In [16]:
crude_oil_data.describe

<bound method NDFrame.describe of      U.S. Crude Oil   Alabama  Alaska  Arkansas  California  Colorado  Mexico  \
0               5138       21     655        17         583        82    1326
1               5177       21     640        17         586        81    1372
2               5003       21     544        17         588        82    1272
3               3974       21     681        16         587        88     242
4               4738       21     716        17         586        86     803
..               ...      ...     ...       ...         ...       ...     ...
116            10248       17     513        14         463       428    1704
117            10461       17     512        14         462       428    1681
118            10475       17     497        14         465       447    1583
119            10443       16     496        14         464       447    1504
120            10674       16     451        14         462       423    1658

     Pacific  Florida  Idaho  ...  Pennsylvania  South Dakota  Wyoming  \
0         67        5      0  ...             8             5      144
1         61        6      0  ...             8             5      145
2         70        5      0  ...             8             5      145
3         67        5      0  ...             8             5      144
4         66        6      0  ...             8             5      145
..       ...      ...    ...  ...           ...           ...      ...
116       14        5      0  ...            18             4      223
117       16        5      0  ...            18             4      231
118       16        5      0  ...            19             4      232
119       15        5      0  ...            19             3      228
120       15        5      0  ...            18             4      226

     West Virginia  Utah  Texas  Tennessee       Date  Year  Month
0                6    60   1097          1 2008-06-01  2008      6
1                5    61   1111          1 2008-07-01  2008      7
2                6    62   1110          1 2008-08-01  2008      8
3                6    63   1055          1 2008-09-01  2008      9
4                6    64   1125          1 2008-10-01  2008     10
..             ...   ...    ...        ...        ...   ...    ...
116             27   100   4015          1 2018-02-01  2018      2
117             29   104   4185          1 2018-03-01  2018      3
118             29   103   4222          1 2018-04-01  2018      4
119             29    97   4245          1 2018-05-01  2018      5
120             30    94   4410          1 2018-06-01  2018      6

[121 rows x 36 columns]>